snippet umshead "china ums header" b
/************************************************************
 *
 *  Copyright (c) 2016 chinaums, All Rights Reserved
 *
 ************************************************************/

/** 
 * @file ${1:`!p snip.rv = snip.fn or "name"`}
 * @brief
 * @author sdxiao(sdxiao@chinaums.com)
 * @date ${2:`date +%Y-%m-%d`}
 */
endsnippet


