[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/c-vim"]
	path = bundle/c-vim
	url = git@github.com:vim-scripts/c.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/a-vim"]
	path = bundle/a-vim
	url = git@github.com:vim-scripts/a.vim.git
[submodule "bundle/grep-vim"]
	path = bundle/grep-vim
	url = git@github.com:vim-scripts/grep.vim.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git@github.com:vim-scripts/vcscommand.vim.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = git@github.com:vim-scripts/OmniCppComplete.git
[submodule "bundle/vim-protobuf"]
	path = bundle/vim-protobuf
	url = git@github.com:uarun/vim-protobuf.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "bundle/vim-preview"]
	path = bundle/vim-markdown-preview
	url = git@github.com:greyblake/vim-preview.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
